<footer class="w-100 bg-danger pb-5">
    <div class="container-fluid text-center">
        <a routerLink="/" class="logo">
            <img [src]="logo" alt="logo inverted" max-height="90" />
        </a>
        <div class="slogan col-12 pb-5">
            <h1 class="text-center text-white">
                "Não tenho nenhum talento especial. Sou apenas apaixonadamente
                curioso."<br />- Albert Einstein
            </h1>
        </div>
        <div class="button-group social-icons col-sm-12 mb-3">
            <p class="field text-center">
                <a
                    href="https://www.facebook.com/profile.php?id=100001516611711"
                    target="_blank"
                    ><button
                        type="button"
                        class="btn btn-light fab fa-facebook-f"
                    ></button
                ></a>
                <a
                    href="https://www.instagram.com/franciscomrsilva/?hl=pt"
                    target="_blank"
                    ><button
                        type="button"
                        class="btn btn-light fab fa-instagram"
                    ></button
                ></a>
                <a
                    href="https://www.youtube.com/channel/UCRcOsqmu6Mtgf0YOialHcwA"
                    target="_blank"
                    ><button
                        type="button"
                        class="btn btn-light fab fa-youtube"
                    ></button
                ></a>
                <a href="https://github.com/KikoRSilva/" target="_blank"
                    ><button
                        type="button"
                        class="btn btn-light fab fa-github"
                    ></button
                ></a>
                <a
                    href="https://www.linkedin.com/in/francisco-silva-144b511a9/"
                    target="_blank"
                    ><button
                        type="button"
                        class="btn btn-light fab fa-linkedin"
                    ></button
                ></a>
            </p>
        </div>
        <div class="copyrights mt-5 mb-0 pb-0">
            <h5 class="text-center text-white">
                &copy; 2021 - Francisco Ribeiro e Silva
            </h5>
        </div>
    </div>
</footer>
