<div class="title animate-fadeDown">
    <div class="container py-4">
        <h1 class="">Política de Privacidade</h1>
    </div>
</div>

<div class="artigo animate-fadeUp">
    <div class="container">
        <div class="intro">
            <h3 class="text-uppercase">Introdução</h3>
            <p>
                FSDev respeita a privacidade dos seus visitantes. Esta Política
                de Privacidade explica como coleto, uso, divulgo e salvaguardo a
                sua informação quando visita o meu website
                francisco-silva.netlify.app. Por favor leia a política de
                privacidade com atenção. Se não concorda com os termos desta
                política de privacidade, por favor não aceda ao site.
            </p>
            <p>
                Reservo o direito a fazer alterações a esta Política de
                Privacidade a qualquer momento e por algum motivo. Avisarei-o
                sobre qualquer alteração atualizando a data da "Última
                Atualização" desta Política de Privacidade. Alguma alteração ou
                modificação serão efetivas logo após a publicação da Política de
                Privacidade atualizada deste site.
            </p>
            <p>
                Recomendo a que reveja periodicamente esta Política de
                Privacidade para se manter informado, estará sujeito e aceitou
                as alterações em qualquer Política de Privacidade revista pelo
                seu uso contínuo do site após a data de publicação da Política
                de Privacidade revista.
            </p>
        </div>
        <br />
        <div class="recolha">
            <h3 class="text-uppercase">Recolha da sua informação</h3>
            <p>
                Posso vir a recolher informação sobre si de variadas maneiras. A
                informação que poderemos recolher no site inclui:
            </p>
            <h5>Dados Pessoais</h5>
            <p>
                Informações de identificação pessoal, como o seu nome e endereço
                de e-mail, que você voluntariamente nos fornece quando preenche
                o formulário para entrar em contacto comigo. Não tem nenhuma
                obrigação de nos fornecer informações pessoais de qualquer tipo;
                no entanto, sua recusa em fazê-lo pode impedi-lo de usar certos
                recursos do site.
            </p>
            <h5>Dados Derivados</h5>
            <p>
                Informações que os meus servidores recolhem automaticamente
                quando acessa o site, como o seu endereço IP, tipo de navegador,
                sistema operativo, horários de acesso e as páginas que
                visualizou diretamente antes e depois de acessar o site.
            </p>
            <h5>Dados do Dispositivo Móvel</h5>
            <p>
                Informações do dispositivo, como o ID do seu dispositivo móvel,
                modelo e fabricante, e informações sobre a localização do seu
                dispositivo, se acessou o site a partir de um dispositivo móvel.
            </p>
            <h5>Dados de Terceiros</h5>
            <p>
                Informações de terceiros, como informações pessoais ou amigos da
                rede, se conectar a sua conta a terceiros e conceder permissão
                ao site para acessar a essas informações.
            </p>
        </div>
        <br />
        <div class="uso">
            <h3 class="text-uppercase">Uso da sua informação</h3>
            <p>
                Ter informações precisas sobre si permite-nos oferecer uma
                experiência tranquila, eficiente e personalizada.
                Especificamente, podemos usar as informações recolhidas sobre si
                por meio do site para:
            </p>
            <ul>
                <li>Auxiliar a aplicação da lei e responder à intimação.</li>
                <li>
                    Compilar dados estatísticos anónimos e análises para uso
                    interno ou com terceiros.
                </li>
                <li>
                    Fornecer publicidade direcionada, boletins informativos e
                    outras informações sobre o site para si.
                </li>
                <li>Aumentar a eficiência e operação do site.</li>
                <li>
                    Monitorizar e analisar o uso e as tendências para melhorar
                    sua experiência com o site.
                </li>
                <li>Notificá-lo sobre atualizações do site.</li>
                <li>
                    Executar outras atividades de negócios conforme necessário.
                </li>
                <li>
                    Evitar transações fraudulentas, monitorizar contra roubo e
                    proteger contra atividades criminosas.
                </li>
                <li>
                    Solicitar feedback e entrar em contato consigo sobre o uso
                    do site.
                </li>
                <li>Resolver disputas e solucionar problemas.</li>
                <li>
                    Responder às solicitações de produtos e serviços ao cliente.
                </li>
                <li>Enviar-lhe um boletim informativo.</li>
                <li>Solicitar suporte para o site.</li>
            </ul>
        </div>
        <br />
        <div class="divulgacao">
            <h3 class="text-uppercase">DIVULGAÇÃO Da sua INFORMAÇÕES</h3>
            <p>
                Posso compartilhar informações que recolhi sobre si em
                determinadas situações. As suas informações podem ser divulgadas
                da seguinte forma:
            </p>
            <h5>Por Lei ou para Proteger Direitos</h5>
            <p>
                Se acreditar que a divulgação de informações sobre si é
                necessária para responder a um processo legal, para investigar
                ou remediar possíveis violações das minhas políticas ou para
                proteger os direitos, propriedade e segurança de terceiros,
                poderei compartilhar as suas informações conforme permitido ou
                exigido por qualquer lei, regra ou regulamento aplicável. Isso
                inclui a troca de informações com outras entidades para proteção
                contra fraude e redução do risco de crédito.
            </p>
            <h5>Provedores de Serviços de Terceiros</h5>
            <p>
                Posso compartilhar as suas informações com terceiros que prestam
                serviços para mim ou em meu nome, incluindo análise de dados,
                entrega de e-mail e atendimento ao cliente.
            </p>
            <h5>Comunicações de Marketing</h5>
            <p>
                Com o seu consentimento, ou com a oportunidade de retirar o
                consentimento, posso compartilhar as suas informações com
                terceiros para fins de marketing, conforme permitido por lei.
            </p>
            <h5>Testemunhos</h5>
            <p>
                Posso usar as suas informações pessoais, incluindo nome,
                profissão e fotografia, ao autorizar a publicação do testemunho
                que tenha escrito acerca do serviço prestado.
            </p>
            <h5>Anunciantes Terceiros</h5>
            <p>
                Posso usar empresas de publicidade terceiras para veicular
                anúncios quando visita o site. Essas empresas podem usar
                informações sobre as suas visitas ao site e outros sites que
                estão contidos em cookies da web para fornecer anúncios sobre
                produtos e serviços do seu interesse.
            </p>
            <h5>Parceiros de Negócio</h5>
            <p>
                Posso partilhar a sua informação com os nossos parceiros de
                negócio para lhe oferecer certos produtos ou serviços.
            </p>
            <h5>Outros Terceiros</h5>
            <p>
                Posso compartilhar as suas informações com anunciantes e
                investidores com o objetivo de conduzir análises gerais de
                negócios. Também posso compartilhar as suas informações com
                terceiros para fins de marketing, conforme permitido por lei.
            </p>
        </div>
        <br />
        <div class="rastreamento">
            <h3 class="text-uppercase">Tecnologias de rastreamento</h3>
            <h5>Cookies e Web Beacons</h5>
            <p>
                Posso usar cookies, web beacons, pixels de rastreamento e outras
                tecnologias de rastreamento no site para ajudar a personalizar o
                site e melhorar a sua experiência. Quando acessa o site, as suas
                informações pessoais não são recolhidas por meio do uso de
                tecnologia de rastreamento. A maioria dos navegadores está
                configurada para aceitar cookies por padrão. Você pode remover
                ou rejeitar cookies, mas esteja ciente de que tal ação pode
                afetar a disponibilidade e funcionalidade do site. Não pode
                recusar web beacons. No entanto, eles podem se tornar ineficazes
                recusando todos os cookies ou modificando as configurações do
                seu navegador da web para notificá-lo cada vez que um cookie é
                oferecido, permitindo que aceite ou rejeite cookies
                individualmente.
            </p>
            <p>
                Posso usar cookies, web beacons, pixels de rastreamento e outras
                tecnologias de rastreamento no site para ajudar a personalizar o
                site e melhorar a sua experiência. Para obter mais informações
                sobre como uso cookies, consulte a Política de Cookies publicada
                no site, que está incorporada a esta Política de Privacidade. Ao
                usar o site, você concorda em obedecer à minha
                <a>Política de Cookies</a>.
            </p>
            <h5>Análises de Website</h5>
            <p>
                Também posso fazer parceria com fornecedores terceiros para
                permitir tecnologias de rastreamento e serviços de remarketing
                no site por meio do uso de cookies primários e cookies de
                terceiros, para, entre outras coisas, analisar e rastrear o uso
                do site pelos usuários, determinar a popularidade de determinado
                conteúdo e compreender melhor a atividade online. Ao acessar o
                site, concorda com a recolha e uso das suas informações por
                esses fornecedores terceiros. Recomendo que analise a sua
                política de privacidade e entre em contato diretamente com eles
                para obter respostas às suas perguntas. Não transfero
                informações pessoais a esses fornecedores terceiros. No entanto,
                se não deseja que nenhuma informação seja recolhida e usada por
                tecnologias de rastreamento, pode visitar o fornecedor terceiro
                ou a ferramenta de exclusão da Network Advertising Initiative ou
                da Digital Advertising Alliance Opt-Out Tool.
            </p>
            <p>
                Deve estar ciente de que obter um novo computador, instalar um
                novo navegador, atualizar um navegador existente ou apagar ou de
                outra forma alterar os arquivos de cookies do seu navegador
                também pode limpar certos cookies de cancelamento, plug-ins ou
                configurações.
            </p>
            <h5>Websites Terceiros</h5>
            <p>
                O site pode conter links para sites de terceiros e aplicativos
                de interesse, incluindo anúncios e serviços externos, que não
                são afiliados a mim. Uma vez que tenha usado esses links para
                sair do site, qualquer informação que fornecer a esses terceiros
                não será coberta por esta Política de Privacidade e não posso
                garantir a segurança e privacidade das suas informações. Antes
                de visitar e fornecer qualquer informação a quaisquer sites de
                terceiros, deve se informar sobre as políticas e práticas de
                privacidade (se houver) do terceiro responsável por esse site, e
                deve tomar as medidas necessárias para, a seu critério, proteger
                a privacidade das suas informações. Não sou responsável ​​pelo
                conteúdo ou privacidade e práticas e políticas de segurança de
                terceiros, incluindo outros sites, serviços ou aplicativos que
                podem estar vinculados ao site ou a partir dele.
            </p>
        </div>
        <br />
        <div class="seguranca">
            <h3 class="text-uppercase">Segurança da sua informação</h3>
            <p>
                Uso medidas de segurança administrativa, técnica e física para
                ajudar a proteger as suas informações pessoais. Embora tenha
                tomado medidas razoáveis ​​para proteger as informações pessoais
                que nos fornece, esteja ciente de que, apesar dos meus esforços,
                nenhuma medida de segurança é perfeita ou impenetrável e nenhum
                método de transmissão de dados pode ser garantido contra
                qualquer interceptação ou outro tipo de uso indevido. Qualquer
                informação divulgada online é vulnerável à interceptação e uso
                indevido por partes não autorizadas. Portanto, não posso
                garantir segurança total se fornecer informações pessoais.
            </p>
        </div>
        <br />
        <div class="criancas">
            <h3 class="text-uppercase">Política para crianças</h3>
            <p>
                Não solicito informações intencionalmente a crianças menores de
                13 anos. Se tiver conhecimento de quaisquer dados que recolhemos
                de crianças menores de 13 anos, entre em contato comigo.
            </p>
        </div>
        <div class="do-not-track">
            <h3 class="text-uppercase">
                Controlos para recursos "do-not-track"
            </h3>
            <p>
                A maioria dos navegadores da web e alguns sistemas operativos
                móveis incluem um recurso Do-Not-Track (“DNT”) ou configuração
                que pode ativar para sinalizar a sua preferência de privacidade
                de não ter dados sobre as suas atividades de navegação online
                monitorizados e recolhidos. Nenhum padrão de tecnologia uniforme
                para reconhecimento e implementação de sinais DNT foi
                finalizado. Como tal, atualmente não respondo aos sinais do
                navegador DNT ou a qualquer outro mecanismo que comunique
                automaticamente a sua escolha de não ser rastreado online. Se
                for adotado um padrão para rastreamento online que devo seguir
                no futuro, irei informá-lo sobre essa prática em uma versão
                revista desta Política de Privacidade. A maioria dos navegadores
                da web e alguns sistemas operativos móveis incluem um recurso
                Do-Not-Track (“DNT”) ou configuração que pode ativar para
                sinalizar sua preferência de privacidade de não ter dados sobre
                as suas atividades de navegação online monitorizados e
                recolhidos. Se definir o sinal DNT em seu navegador, responderei
                a esses sinais de navegador DNT.
            </p>
        </div>
        <br />
    </div>
</div>
