<div id="sobre">
    <div class="container-fluid">
        <div class="row">
            <div
                class="col-md-12 align-self-center text-center bg-danger"
                style="padding-bottom: 14rem"
            >
                <div>
                    <h1 class="font-weight-bold text-center" id="info-title">
                        Olá, sou o Francisco
                    </h1>
                    <h2
                        class="mx-auto"
                        style="max-width: 600px; line-height: 1.5"
                        id="info-text"
                    >
                        Desde do início da minha jornada como desenvolvedor à 2
                        anos atrás, já fiz trabalhos para Empresas e para a
                        Universidade, e, essencialmente, para mim. Sou curioso,
                        trabalhador e tento sempre aprender novas competências.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
