<div id="sobre">
    <div class="container-fluid">
        <div class="row">
            <div
                class="col-md-12 align-self-center text-center bg-danger"
                style="padding-bottom: 14rem"
            >
                <div>
                    <h1 class="font-weight-bold text-center" id="info-title">
                        Olá, sou o Francisco
                    </h1>
                    <h2
                        class="mx-auto"
                        style="max-width: 600px; line-height: 1.5"
                        id="info-text"
                    >
                        Atualmente sou estudante do 3º ano no
                        <a href="https://tecnico.ulisboa.pt/pt/" target="_blank"
                            >Instituto Superior Técnico</a
                        >, mas procuro vir a ser um desenvolvedor no futuro. Já
                        tenho alguma experiência graças à minha curiosidade,
                        interesse e pesquisa nesta área. Tento sempre aprender
                        algo novo todos os dias.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
