<div class="title animate-fadeDown">
    <div class="container py-4">
        <h1>Política de Cookies</h1>
    </div>
</div>
<div class="atualizacao animate-fadeDown">
    <div class="container">
        <p class="text-muted">
            <strong>Última Atualização: </strong>23/09/2021
        </p>
    </div>
</div>
<div class="artigo animate-fadeUp">
    <div class="container">
        <div class="intro">
            <h3 class="text-uppercase">Introdução</h3>
            <p>
                Esta Política de Cookies explica o que são cookies e como os
                uso, os tipos de cookies que uso, ou seja, as informações que
                recolho usando cookies e como essas informações são usadas e
                como controlar as preferências de cookies. Para obter mais
                informações sobre como uso, armazeno e mentenho os seus dados
                pessoais seguros, consulte a minha Política de Privacidade.
            </p>
            <p>
                Você pode, a qualquer momento, alterar ou retirar o seu
                consentimento da Declaração de Cookie no site. Saiba mais sobre
                quem sou, como pode me contatar e como processo os dados
                pessoais na minha Política de Privacidade. O seu consentimento
                se aplica aos seguintes domínios:
                www.francisco-silva.netlify.app
            </p>
            <p>
                Estado Atual:
                <span *ngIf="consente">Consentimento dado.</span>
                <span *ngIf="!consente">Nenhum consentimento dado. </span>
                <span class="gerirCookies" (click)="openCookieConsentPopup()">
                    Gerir consentimento.</span
                >
            </p>
        </div>
        <br />
        <div class="ser">
            <h3 class="text-uppercase">O que são Cookies ?</h3>
            <p>
                Cookies são pequenos ficheiros de texto que são usados para
                armazenar pequenas informações. Eles são guardados no seu
                dispositivo quando o site é carregado no seu navegador. Estes
                Cookies ajudão-me para o site funcionar melhor, torna-o mais
                seguro, providencia uma melhor experiência de utilização, e
                percebe como o site funciona e para analizar o que funciona e
                onde é que precisa de melhorias.
            </p>
        </div>
        <br />
        <div class="uso">
            <h3 class="text-uppercase">Como uso os Cookies ?</h3>
            <p>
                Como a maioria dos serviços online, o meu site usa cookies
                primários e de terceiros para diversos fins. Os cookies
                primários são principalmente necessários para o funcionamento
                correto do site e não recolhem nenhum de seus dados de
                identificação pessoal.
            </p>
            <p>
                Os cookies de terceiros usados ​​no meu site são principalmente
                para entender como o site funciona, como interage com nosso
                site, mantendo os meus serviços seguros, fornecendo anúncios que
                são relevantes para si e, em suma, proporcionando-lhe uma melhor
                experiência de utilizador e ajuda a agilizarm as suas futuras
                interações com o meu site.
            </p>
        </div>
        <br />
        <div class="controlo">
            <h3 class="text-uppercase">
                Como posso controlar as preferências dos Cookies ?
            </h3>
            <p>
                Pode decidir mudar as suas prefrências mais tarde através da sua
                sessão do navegador, pode clicar em "Cookies" no rodapé do
                website. Agora na página da Política de Cookies, na introdução
                terá a oportunidade de clicar em "Gerir consentimento" que
                abrirá a janela de consentimento, caso queria alterar.
            </p>
        </div>
        <br />
    </div>
</div>
