<div id="projeto" class="bg-danger">
    <div class="container">
        <div class="box bg-secundary align-self-center text-center">
            <h1 class="text-white">Comece um projeto</h1>
            <h5 class="text-white mb-3 subtitle">
                Interessado em trabalhar em conjunto? Então deviamos combinar
                uma reunião!
            </h5>
            <a
                class="btn btn-outline-danger button text-white"
                routerLink="/contacte-me"
                >Vamos a isto</a
            >
        </div>
    </div>
</div>
