<div id="error-page" class="error animate-fadeUp">
    <div class="error-1">
        <div class="container text-center mb-4">
            <img
                src="/assets/error2.png"
                alt="Error404Image"
                class="img background"
            />
            <h2 class="warning mb-4">
                Não devias estar aqui! Volta para trás
                <a routerLink="/" class="link-red text-decoration-none">AGORA</a
                >!
            </h2>
            <a class="btn btn-outline-danger button" routerLink="/">Voltar</a>
        </div>
    </div>
</div>
