@import "../node_modules/bootstrap/scss/bootstrap";

// Default variable overrides
$body-bg: rgb(255, 255, 255);
$body-color: rgb(40, 48, 67);

$primary: rgb(40, 48, 67);
$danger: #ff4136;

$dark-blue: rgb(40, 48, 67);
$blue: #9197ae;
$white: #eff6ee;
$soft-red: #f02d3a;
$red: #dd0426;
