#slider h1 {
    font-weight: 700;
    color: rgb(40, 48, 67);
}

#slider h2 {
    font-weight: 100;
    font-size: 20px;
    color: rgb(40, 48, 67);
}

.avatar {
    height: 450px;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.4s ease-out;

    &:active {
        transform: scale(0.9);
    }
}

.hero {
    max-width: 100%;
}

.small {
    height: 30px;
    width: 30px;
    z-index: -1;
}

.my-custom-class .tooltip-inner {
    background-color: #f02d3a;
    font-size: 125%;
    color: #eff6ee;
}
.my-custom-class .arrow::before {
    border-top-color: rgb(40, 48, 67);
}
